@font-face {
	font-family: 'AdigianaUI';
	src: url('./AdigianaUI.ttf');
	src: local('LCALLIG'), url('./AdigianaUI.ttf') format('truetype'), url('./AdigianaUI.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_7705">Text with this font applied</p> */
.fontsforweb_fontid_7705 {
	font-family: 'AdigianaUI' !important;
}

/* Font downloaded from FontsForWeb.com */

